services:
  postgres:
    image: postgres:15-alpine
    container_name: austin_airbnb_postgres
    restart: unless-stopped
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: ${TZ}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./Data Layer/silver/ddl.sql:/docker-entrypoint-initdb.d/01-schema.sql

volumes:
  postgres_data: